$green-color:#88A550;
$darkgreen-color:#4C6816;
$dark-color:#282623;
$grey-color:#A3A599;
$yellow-color:#FBCD4B;

$default-font: 'Roboto',
sans-serif,
Times;

.registration_form {
    max-width: 25rem;
    padding: 5px;
    padding-bottom: 30px;
    margin: 10px auto;
    color: $dark-color;

    .btn {
        padding: 5px;
        background-color: $green-color;
        border: none;
        font-size: 1.2rem;
    }
    .btn:focus, .btn:active {
        box-shadow: none !important;
    }
    
    #errorMessage {
        text-align: center;
        color: $darkgreen-color;
    }
    
    p {
        font-size: small;
    }
}