.news-header {
    display: flex;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
}

.blocks-news {
    display: flex;
}

.item {
    flex: 1;
    height: 70vh;
    background-size: cover;
    background-position: center;
    margin: 5px;
    position: relative;
}

.blocks-news_header {
    position: absolute;
    bottom: 150px;
    left: 5px;
    max-width: 400px;
    background-color: rgba(6, 198, 6, 0.655);
    color: #fff;
    font-size: 0px;
    font-family: 'Montserrat', sans-serif;
}

.par-news {
    position: absolute;
    bottom: 50px;
    left: 5px;
    max-width: 500px;
    background-color: rgba(6, 198, 6, 0.655);
    color: #fff;
    font-size: 0px;
    font-family: 'Montserrat', sans-serif;
}

.link-news {
    color: #000000;
}

.link-news:hover {
    color: #fff;
}

.one {
    background-image: url('https://images.unsplash.com/photo-1530739130845-c4121d38e013?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80');
}

.two {
    background-image: url('https://cdnimg.rg.ru/img/content/213/29/05/000_8PR28R_d_850.jpg');
}

.three {
    background-image: url('https://images.unsplash.com/photo-1609915319107-b1162714203b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
}

.four {
    background-image: url('https://images.unsplash.com/photo-1582623838120-455da222cdc7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80');
}

.five {
    background-image: url('https://716.kz/upload/001/u113/9/8/v-pustyne-atakama-na-severe-chili-lezhat-ogromnye-gory-odezhdy-i-obuvi.-%D0%BA%D0%B0%D0%BA-%D0%BE%D0%BD%D0%B0-%D1%82%D0%B0%D0%BC-%D0%BE%D0%BA%D0%B0%D0%B7%D0%B0%D0%BB%D0%B0%D1%81%D1%8C-photo-big.png');
}

.six {
    background-image: url('http://network.bellona.org/content/uploads/sites/4/2018/05/Str-12-lesnoj-pozhar.jpg');
}

.selected {
    flex: 4;
}

.selected .blocks-news_header {
    font-size: 20px;
    padding: 5px;
    transition: all 1s ease;
}

.selected .par-news {
    font-size: 15px;
    padding: 5px;
    transition: all 1s ease;
}


@media all and (max-width: 800px) {
    .blocks-news {
        display: flex;
        flex-direction: column;
        height: 100vh;
    }

    .selected .blocks-news_header {
        font-size: 18px;
    }
    
    .selected .par-news {
        font-size: 13px;
    }

    .blocks-news_header {
        position: absolute;
        bottom: 100px;
        left: 5px;
        max-width: 300px;
    }

    .par-news {
        position: absolute;
        bottom: 10px;
        left: 5px;
        max-width: 400px;
    }
}

@media all and (max-width: 500px) {

    .selected .blocks-news_header {
        font-size: 15px;
    }
    
    .selected .par-news {
        font-size: 10px;
    }

    .blocks-news_header {
        position: absolute;
        bottom: 80px;
        left: 2px;
    }

    .par-news {
        position: absolute;
        bottom: 10px;
        left: 2px;
    }
}
